/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

bgrCol=#303;
textCol=#f8f8f8;
// 
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Lustria', 'Poppins', serif;
    &.font-lustria {
        // font-family: 'Lustria', serif;
    }
    &.font-inconsolata {
        font-family: 'Inconsolata', sans-serif;
    }
    &.font-lato {
        font-family: 'Lato', sans-serif;
    }
    background-color: bgrCol;
}

.splash {
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    background-color: #181818;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .8;
    transition: opacity 1s;
    -webkit-transition: opacity 1s, z-index 2s;
    text-align: center;
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 4em;
    display: flex;
    &.splash-on-false {
        opacity: 0;
        z-index: -1;
    }
    &>.splash-holder {
        width: 60vw;
        // height: 70vh
        margin: auto;
        padding-bottom: 100px;
        &>.title {
            margin: 0 auto;
            font-size: 1.4em;
            text-align: center;
            padding-bottom: 60px;
        }
        &>.selectors {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            .selector {
                // margin: auto;
                // width: 49%;
                font-size: 0.5em;
                // display: inline-block;
                flex-basis: 30%;
                .select-list-item {
                    text-transform: capitalize;
                    .mins-label {
                        text-transform: none;
                    }
                    cursor: pointer;
                    color: alpha( textCol, 0.5);
                    &:hover {
                        color: alpha( textCol, 0.75);
                    }
                    &.chosen-true {
                        color: textCol;
                    }
                }
            }
        }
        .enter-button {
            margin-top: 100px;
            font-size: 0.5em;
            cursor: pointer;
            color: alpha(textCol, 0.75);
            &:hover {
                color: textCol;
            }
        }
    }
}

.container {
    color: textCol;
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    padding: 100px 20%;
    font-size: 110%;
    outline: none;
    display: inline-block;
    z-index: 0;
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 0;
    &:empty:before {
        // content: "Start writing...";
        display: block;
        /* For Firefox */
        color: alpha(textCol, .5);
        opacity: 1;
    }
    &>br {
        margin-bottom: 15px;
    }
}

.show-text {
    position: fixed;
    top: 50px;
    left: 50px;
    color: textCol;
    z-index: 1;
}

.timer {
    position: fixed;
    top: 50px;
    right: 50px;
    color: textCol;
    z-index: 0;
}

.del-timer {
    position: fixed;
    bottom: 50px;
    left: 50px;
    color: textCol;
    z-index: 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
