/* HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Lustria', 'Poppins', serif;
  background-color: #303;
}
body.font-lustria {
  font-family: 'Lustria', serif;
}
body.font-inconsolata {
  font-family: 'Inconsolata', sans-serif;
}
body.font-lato {
  font-family: 'Lato', sans-serif;
}
.splash {
  height: 100vh;
  width: 100vw;
  background-color: #181818;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  transition: opacity 1s, z-index 2s;
  -webkit-transition: opacity 1s, z-index 2s;
  text-align: center;
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}
.splash a {
  color: rgba(248,248,248,0.9);
}
.splash.splash-on-false {
  opacity: 0;
  z-index: -10;
}
.splash.splash-faq {
  display: block;
  position: absolute;
}
.splash.splash-faq .faq-question {
  margin-top: 75px;
}
.splash .splash-faq-holder {
  width: 750px;
  margin: 0 auto;
}
.splash .splash-faq-holder .faq-body {
  font-size: 0.4em;
  padding-bottom: 100px;
}
.splash .splash-faq-holder .faq-body .faq-q {
  font-size: 1.1em;
  margin-top: 100px;
}
.splash .splash-faq-holder .faq-body .faq-a {
  font-size: 0.75em;
  text-align: left;
}
.splash .faq-close {
  position: fixed;
  right: 50px;
  top: 50px;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  cursor: pointer;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transform-origin: center center;
}
.splash .faq-close:hover .x-hor {
  transform: rotate(0deg);
}
.splash .faq-close:hover .x-vert {
  transform: rotate(90deg);
}
.splash .faq-close .x-line {
  background-color: #fff;
  width: 5px;
  height: 100%;
  margin: 0 22.5px;
  position: absolute;
}
.splash .faq-close .x-vert {
  transition: transform 0.5s;
}
.splash .faq-close .x-hor {
  transition: transform 0.5s;
  transform: rotate(90deg);
}
.splash>.splash-holder {
  width: 60vw;
  margin: auto;
  padding-bottom: 100px;
}
.splash>.splash-holder>.title {
  margin: 0 auto;
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 60px;
  cursor: context-menu;
}
.splash>.splash-holder>.selectors {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.splash>.splash-holder>.selectors .selector {
  font-size: 0.5em;
  flex-basis: 30%;
}
.splash>.splash-holder>.selectors .selector .select-list-item {
  text-transform: capitalize;
  cursor: pointer;
  color: rgba(248,248,248,0.5);
}
.splash>.splash-holder>.selectors .selector .select-list-item .mins-label {
  text-transform: none;
}
.splash>.splash-holder>.selectors .selector .select-list-item:hover {
  color: rgba(248,248,248,0.75);
}
.splash>.splash-holder>.selectors .selector .select-list-item.chosen-true {
  color: #f8f8f8;
}
.splash>.splash-holder>.selectors .selector .select-list-item#font-lustria {
  font-family: 'Lustria', serif;
}
.splash>.splash-holder>.selectors .selector .select-list-item#font-inconsolata {
  font-family: 'Inconsolata', sans-serif;
}
.splash>.splash-holder>.selectors .selector .select-list-item#font-lato {
  font-family: 'Lato', sans-serif;
}
.splash>.splash-holder .enter-button {
  margin-top: 100px;
  font-size: 0.5em;
}
.splash>.splash-holder .enter-button .enter-button-inner {
  cursor: pointer;
  color: rgba(248,248,248,0.75);
}
.splash>.splash-holder .enter-button .enter-button-inner:hover {
  color: #f8f8f8;
}
.splash .messages {
  position: fixed;
  bottom: 50px;
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.25em;
  opacity: 0;
  transition: opacity 0.5s;
}
.splash .messages.show-message-true {
  opacity: 1;
}
.splash .links-bar {
  position: fixed;
  left: 50px;
  bottom: 50px;
  font-size: 0.5em;
  color: rgba(248,248,248,0.75);
}
.splash .links-bar a {
  margin-right: 10px;
}
.splash .links-bar a:hover {
  color: #f8f8f8;
}
.faq-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 12;
  font-size: 1em;
  cursor: pointer;
  color: rgba(248,248,248,0.6);
  opacity: 1;
  transition: opacity 1s;
  font-family: 'Playfair Display', sans-serif;
  animation: glow 2.75s infinite;
  text-shadow: 0px 0px 0px rgba(248,248,248,0.75);
}
.faq-button:hover {
  color: rgba(248,248,248,0.75);
  text-shadow: 0px 0px 5px rgba(248,248,248,0.75);
}
.faq-button.faq-on-true {
  color: #f8f8f8;
  text-shadow: 0px 0px 8px rgba(248,248,248,0.75);
}
.faq-button.show-false {
  opacity: 0;
}
.container {
  color: #f8f8f8;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  padding: 100px 20%;
  font-size: 110%;
  outline: none;
  display: inline-block;
  z-index: 0;
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 0;
}
.container:empty:before {
  display: block;
/* For Firefox */
  color: rgba(248,248,248,0.5);
  opacity: 1;
}
.container>br {
  margin-bottom: 15px;
}
.timer {
  position: fixed;
  top: 50px;
  right: 50px;
  color: #f8f8f8;
  z-index: 1;
}
.del-timer {
  position: fixed;
  bottom: 50px;
  left: 50px;
  color: #f8f8f8;
  z-index: 0;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@-moz-keyframes glow {
  50% {
    text-shadow: 0px 0px 25px rgba(248,248,248,0.75);
    color: #f8f8f8;
  }
}
@-webkit-keyframes glow {
  50% {
    text-shadow: 0px 0px 25px rgba(248,248,248,0.75);
    color: #f8f8f8;
  }
}
@-o-keyframes glow {
  50% {
    text-shadow: 0px 0px 25px rgba(248,248,248,0.75);
    color: #f8f8f8;
  }
}
@keyframes glow {
  50% {
    text-shadow: 0px 0px 25px rgba(248,248,248,0.75);
    color: #f8f8f8;
  }
}
